/* 
  primary: #001d4d
  secondary: #ffa366
  light: #cce0ff
*/

body{
    background: #8ecb12;
}
.app-title{
    text-align: center;
    font-size: 50px;
    color: #001d4d ;
}

.app-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-heading{
    text-align: center;
    font-size: 30px;

}

.contact-card{
    width:400px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}
.contact-name{
    font-size: 20px;
}
.m-2{
    margin: 2px;
}
.user-input{
    display: block;
    font-size: 25px;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    border: solid 1px #001d4d  ; 
}
.btn-add-contact{
    display: block;
    font-size: 25px;
    padding: 10px 30px ;
    background-color: #001d4d;
    border-radius: 30px;
    border: none;
    margin: 40px auto;
    color: white;
    cursor: pointer;

}